@model ImieApplication.Models.OGameFleet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OGameFleet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Destination.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandingAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandingAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
